@import '../../config.scss';

.about-container{
  width: 100vw;
  height: 90vh;
  flex-direction: column;
  font-family:$font-stack1;
  @include flex-center;

  h1{
    font-size: 80px;
    margin-bottom: -30px;
    margin-top: 105px;
  }
}

.about-box{
  width: 90vw;
  height: 43vh;
  display: flex;
  align-items: center;
  padding: 40px;
  box-shadow: $border-shadow;
  margin: 30px;
  margin-bottom: 120px;
  // background: rgb(235, 235, 235);
  background: white;
  // margin-bottom: 100px;
  p{
    font-size: 40px;
    padding: 20px;
    line-height: 50px;
  }
}

.family-photo{
  width: 30vw;
  height: 40vh;
  border-radius: 2%;
  box-shadow: $border-shadow;
}