@import '../../config.scss';

.home-cointainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
  font-family: $font-stack1;
  background: url('../../images/sunset2.png');
  background-size: cover;
  // color: white;
}

.main-container{
  width: 70vw;
  height: 50vh;
  // border: solid;
  margin-top: 300px;
  // margin-left: 500px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  // background: white;
}

.home-box{
  width: 70vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-title0{
  font-size: 130px;
  font-weight: 600;
  letter-spacing: 25px;
}

.main-title1{
  margin-top: -120px;
  font-size: 50px;
  font-weight: 600;
}
.main-title2{
  font-size: 35px;
  margin-top: -40px;
  margin-left: 20px;
  font-weight: 600;
  // margin-bottom: 100px;
}



.home-icons-section{
  margin-top: -60px;
  width: 35vw;
  display: flex;
  justify-content: space-between;

  p{
    font-size: 25px;
    margin-top: 5px;
    margin-left: -0px;
  }
}

.home-icons{
  width: 3vw;

  &:hover{
    cursor: pointer;
    transition: all .5s ease-in-out;
    transform: scale(1.2);
}
}

@media(max-width:414px){

  .main-container{
    width: 80vw;
    height: 70vh;
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    text-align: center;
    // background: white;
    z-index: 5;
  }

  .home-box{
    width: 70vw;
    height: 50vh;
    // background: pink;
  }

  .main-title0{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 25px;
  }
  
  .main-title1{
    margin-top: -20px;
    font-size: 30px;
    font-weight: 600;
  }
  .main-title2{
    font-size: 20px;
    margin-top: -30px;
    margin-left: 0px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
  }

  .home-icons-section{
    margin-top: -60px;
    width: 85vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: powderblue;
  
    p{
      font-size: 18px;
    }
  }
  
  .home-icons{
    width: 9vw;
  }
}

@media(max-width: 375px){

  .main-container{
    width: 80vw;
    height: 70vh;
    // border: solid;
    margin-top: 200px;
    // margin-left: 500px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    padding: 0px;
    text-align: center;
    // background: white;
    z-index: 5;
  }

  .home-box{
    width: 70vw;
    height: 60vh;
    // background: pink;
  }

  .main-title0{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 25px;
  }
  
  .main-title1{
    margin-top: -20px;
    font-size: 30px;
    font-weight: 600;
  }
  .main-title2{
    font-size: 20px;
    margin-top: -30px;
    margin-left: 0px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
  }

  .home-icons-section{
    margin-top: -30px;
    width: 85vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: powderblue;
  
    p{
      font-size: 18px;
    }
  }
  
  .home-icons{
    width: 9vw;
  }
}