@import '../../../config.scss';


.modal-container{
  width: 95vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 5px;
  border-radius: 10px;
}

.project-display-box{
  display: flex;
  align-items: center;

  p{
    font-size: 35px;
    margin-right: 15px;
  }
}

.project-display{
  width: 70vw;
  margin-left: 20px;
}

.project-btn{
  width: 51.7vw;
  // height: 5vw;
  margin-left: 250px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}
.exit-button{
  position: relative;
  left: 1210px;
  top: 20px;
  width: 25px;
  transform: scaleX(-1);
  z-index: 3;

  &:hover{
    cursor: pointer;
  }
}


.next-btn{
  width: 20px;
  position: relative;
  bottom: 60px;
  left: 250px;
  transform: scaleX(-1);

  &:hover{
      cursor: pointer;
  }
}


.back-btn{
  width: 20px;
  position: relative;
  bottom: 60px;
  right: 250px;

  &:hover{
      cursor: pointer;
  }

}