@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

//variables
$font-stack1:'Raleway', sans-serif;
$border-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
$border1: rgb(95, 187, 136) solid;
$border2: rgb(80, 106, 255) solid;
$border3: rgb(255, 136, 57) solid;

//mixins

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}