@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

//variables
$font-stack1:'Reenie Beanie', cursive;
$border-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);


//mixins

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}