
@import '../../config.scss';

.nav{
  width: 100vw;
  height: 10vh;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: white; */
  color: black;
  // background:linear-gradient(to right, red, orange, rgb(255, 190, 69), yellow);
  background: white;

  position: fixed;
  top: 0;
  box-shadow: $border-shadow;
  z-index: 10;
  
}

.nav-links{
  width: 650px;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  text-decoration-color: white;
  
}

.nav-logo{
  width: 150px;
  margin-top: -10px;

  &:hover{
    cursor: pointer;
  }
}

.nav-name{
  margin-left: 10px;
  margin-top: 10px;
}

.nav-links{
  font-family: $font-stack1;
  font-size: 18px;

  span:hover{
    cursor: pointer;
    color: lightgrey;
  }
}

