
@import '../../config.scss';

.nav{
  width: 100vw;
  height: 150px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: white; */
  color: black;
  /* background: blue; */
  position: fixed;
  top: 0;
  z-index: 10;
  
}

.nav-links{
  width: 650px;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  text-decoration-color: white;
  
}

.nav-logo{
  width: 6vw;
}

.nav-name{
  margin-left: 100px;
  margin-top: 10px;
}

.nav-links{
  font-family: $font-stack1;
  font-size: 30px;

  span:hover{
    cursor: pointer;
    color: lightgrey;
  }
}

